/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #f4f4f4; */
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/7677104-fundo-branco-com-padrao-geometrico-azul-e-linha-branca-gratis-vetor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    padding: 40px;
}

img {
    width: 300px;
    margin: 0 auto;
    display: block;
}

.logo-topo {
    width: 800px;
    margin: 0 auto;
    display: block;
}

h1 {
    color: #004880;
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    text-align: justify;
}

hr {
    margin: 20px;
}

a {
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

ul {
    border: 1px;
    padding: 10px;
    margin-top: 10px;
}

ol {
    border: 1px;
    padding: 10px;
    margin-top: 10px;
}